# 无效。会从 npm 装，即：https://registry.npmjs.org。要用 .yarnrc 文件
# registry=https://registry.yarnpkg.com/

registry=https://registry.npmmirror.com/

# 设置npm源的几种方式 https://www.cnblogs.com/steven-yang/p/12317646.html
# npm i -g nrm
# nrm ls
#   npm ---------- https://registry.npmjs.org/
#   yarn --------- https://registry.yarnpkg.com/
#   tencent ------ https://mirrors.cloud.tencent.com/npm/
#   cnpm --------- https://r.cnpmjs.org/
#   taobao ------- https://registry.npmmirror.com/
#   npmMirror ---- https://skimdb.npmjs.com/registry/

# nrm test 测试所有源的网速
